body { }

.timeline{
	padding: 80px 0 80px;
	width: 400px;
	margin: auto;
	text-align: center;
}

.timeline>.sectionn	 {
	font-family: Helvetica;
	border-top: 2px dashed;
	border-color: blue !important;
	margin:0; padding: 30px;
}

.timeline>.sectionn:nth-child(even) {
	border-right: 2px dashed;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-left: 30px;
	padding-left: 0;
}

.timeline>.sectionn:nth-child(odd) {
	border-left: 2px dashed;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-right: 30px;
	padding-right: 0;
}

.timeline>.sectionn:first-child {
}

.timeline>.sectionn:last-child {
	border-bottom: 2px dashed;
}
