<!DOCTYPE html>
<html lang="en">

<head>
    <title>OneTech</title>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/active.css">
</head>

<body>
    <table width="100%">
        <tr>
            <td align="center">
                <table width="600">
                    <tr>
                        <td class="header">
                            <h1>ONE TECH</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Your Journey Starts Here...</h2>
                            <p> Thank you for confirming your email address. Your sign-up is complete, but your devious journey has just begun...</p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br/> Regards,
                            <br/> OneTech
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            © 2019 OneTech. All rights reserved.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>