<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add Product</title>
</head>
<body>
	<h1>Add Product</h1>
	<form action="<?php echo base_url('product/addProduct'); ?>" method="post">
		<label>
			Nama Product : <input type="text" name="name" autofocus>
		</label>
		<br>
		<label>
			Tipe Product :<br>
			<input type="radio" name="type" value="welding" checked> Welding<br>
			<input type="radio" name="type" value="rubber"> Rubber<br>
			<input type="radio" name="type" value="paint"> Paint<br>
			<input type="radio" name="type" value="others"> Others
		</label>
		<br>
		<label>
			Kuota Product : <input type="number" name="quota" min="1" max="999">
		</label>
		<br>
		<label>
			Harga Product : <input type="number" name="price" min="1" max="999999999">
		</label>
		<br>
		<label>
			Gambar Product : <input type="file" name="image" accept="image/*">
		</label>
		<br>
		<label>
			Deskripsi : <br> <textarea name="description"></textarea>
		</label>
		<br>
		<input type="submit" value="simpan">
	</form>
</body>
</html>
